<body class="TodoPage">
    <main >
        <article>
            <h1 class="TodoPage-title">My To-do List</h1>
            <form action="/todos" method="POST">
                <input class="InputTodo-text" type="text" id="nexttodo" placeholder ="What's next?" name="todo_text">
                <input placeholder=" Due Date" class="InputTodo-date " type="text" onfocus="(this.type='date')" id="duedate" name="due_date">
                <button class="InputTodo-submit" type="submit" id="Add" >Add</button>
            </form>
           
            <%= render partial: "todo-section", locals: {
                section_title: "Overdue",
                todos: Todo.overdue,
                show_due_date: true,
                        
            }  %>
            <%= render partial: "todo-section", locals: {
                section_title: "Due Today",
                todos: Todo.due_today,
                show_due_date: false,
               
            }  %>
            <%= render partial: "todo-section", locals: {
                section_title: "Due Later",
                todos: Todo.due_later,
                show_due_date:true,
                

            }  %>
            
             

        </article>
    </main>
</body>